.jumbotron {
    background: #354B5E;
    padding: 4.5rem 4.5rem;
    margin-bottom: 0;
}

h1 {
    font-family: 'Nunito', sans-serif;
    color: #D74B4B;
    font-size: 5rem;
    margin-left: 2rem;
}

h2 {
    font-family: 'Nunito', sans-serif;
    color: white;
    margin-left: 2rem;
}

h4 {
    font-family: 'Nunito', sans-serif;
    color: #354B5E;
    margin-top: 0.3rem;

}

/*Adds margin to top of items inside of the header */
.header-adjust {
    margin-top: 7rem;
}
/*Adds styling to the menu items in the header*/
.menu-styles {
    margin-right: 2rem;
    margin-top: 2rem;
    color: white;
    font-size: 1.5rem;
}

/*Add styles to maps*/
.map-style {
    text-align: center;
    margin-top: 3rem;
}

#map {
    width: 100%;
    height: 500px;
    border: thin solid black;
  }

.navbar-toggler-icon {
    color: white;
}

/* Begins the CSS for the parallax, vh is used to make it relative to viewport */
.wrapper {
    height: 75vh;
  }
  
  .parallax-img {
    background-image: url('/images/whiteflowersadjust.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Removes the rounded borders on the jumbotron */
.jumbotron {
    border-radius: 0;
}

.text-bounding {
    margin-left: 10rem;
    margin-right: 10rem;
}
