.jumbotron {
    background: #354B5E;
    
}

h1 {
    font-family: 'Nunito', sans-serif;
    color: #D74B4B;
    font-size: 2.5rem;
    margin-left: 1rem;
}

h2 {
    font-family: 'Nunito', sans-serif;
    color: white;
    margin-left: 1rem;
}

.left-style {
    padding-left: 0rem;
    position: static;
}


.title {
    width: 100%;
    left: 10%
}