.jumbotron {
    background: #354B5E;
    
}

h1 {
    font-family: 'Nunito', sans-serif;
    color: #D74B4B;
    font-size: 2.5rem;
    margin-left: 2rem;
}

h2 {
    font-family: 'Nunito', sans-serif;
    color: white;
    margin-left: 2rem;
}

h4 {
    font-family: 'Nunito', sans-serif;
    color: #354B5E;
    margin-top: 0.3rem;

}

.header-adjust {
    margin-top: 7rem;
}

.menu-styles {
    margin-right: 2rem;
    margin-top: 2rem;
    color: white;
    font-size: 1.5rem;
}

.map-placeholder {
    text-align: center;
    margin-top: 3rem;
}